/* ******My Styles****** */

/* .bg-linear-gradient {
  background: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(7.5px);
} */

.bg-gradient-lightblue-purple {
  /* 
  background-color: rgba(white, white, white, white); */
  /*   background-image: linear-gradient(135deg, #ffffff, #cedccf, #c2bbcd); */
  background-image: linear-gradient(
    131deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(206, 220, 207, 0.2),
    rgba(194, 187, 205, 0.35),
    rgba(236, 193, 187, 0.2),
    rgba(245, 166, 159, 0.35),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );

  /* background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); */
  background-attachment: fixed;
}

.hero-font {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.my-font {
  font-family: "Inter", sans-serif;
}

.nav-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-icon:hover {
  background-color: rgba(245, 166, 159);
  box-shadow: 0px 15px 20px rgba(236, 193, 187);
  transform: translateY(-7px);
}

.nav-icon:active {
  transform: translateY(-1px);
}

.btn-animation {
  height: 2.5rem;
  width: 2.5rem;
}

.btn-animation:hover {
  color: rgba(21, 25, 29, 0.9);
  transform: translateY(-7px);
}
.btn-animation:active {
  transform: translateY(-1px);
}

.bg-my-optional-color {
  background-color: rgba(245, 166, 159);
}

.accordion-flush > *,
.accordion-button {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

.glass {
  backdrop-filter: blur(1rem);
  /* background: linear-gradient(
    to left bottom,
    rgba(225, 225, 225, 0.5),
    rgba(225, 225, 225, 0.3)
  ); */
  background-color: rgba(225, 225, 225, 0.2);

  /* border-radius: 1rem; */
  border: 1px solid transparent;
  border-top-color: rgba(225, 225, 225, 0.5);
  border-left-color: rgba(225, 225, 225, 0.5);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-right-color: rgba(225, 225, 225, 0.1);
}

.glass-dark {
  backdrop-filter: blur(1rem);
  background-color: rgba(194, 187, 205, 0.2);

  border: 1px solid transparent;
  border-top-color: rgba(225, 225, 225, 0.5);
  border-left-color: rgba(225, 225, 225, 0.5);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-right-color: rgba(225, 225, 225, 0.1);
}

.border-glass {
  border: 1px solid transparent;
  border-top-color: rgba(225, 225, 225, 0.5);
  border-left-color: rgba(225, 225, 225, 0.5);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-right-color: rgba(225, 225, 225, 0.1);
}

.shadow {
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

.max-w-weather {
  max-width: 476px;
}

* {
  transition: all 0.3s ease 0s;
}

.navbar-toggler {
  border: 0;
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
